<section class="container">
  <h1 class="text-center header">Excuse</h1>
  <article>
    <ul class="excuse">
      <li class="excuse-body"><%= @excuse.body %></li>
    </ul>
  </article>
  <article>
     <h2 class="text-center header">Leave a Comment</h2>
    <%= erb :"partials/_create_account_errors", locals: { errors: @errors } %>
    <form role="form" method="post" action="/excuses/<%= @excuse.id %>/comments">
      <div class = "form-group">
        <textarea  class = "form-control" rows = "3" type="text" name="comment_body" placeholder="Comment"></textarea>
        <br>
        <input class="button" type="submit" value="Comment">
      </div>
    </form>
  </article>
  <article>
    <h2 class="text-center header">Comments</h2>
    <%  @excuse.comments.each do |comment| %>
      <ul class="excuse">
        <li class="excuse-body"><%= comment.body %></li>
      <!-- horrible place to put this -->
        <% user = comment.commenter_id %>
        <% commenter = User.find(user) %>
        <li class="excuse-body name">Commenter: <%= commenter.first_name %> <%= commenter.last_name %></li>
      </ul>
      <% if current_user.id  == comment.commenter_id %>
        <a href="/excuses/<%= @excuse.id %>/comments/<%= comment.id %>/edit"><button type="button" class="btn btn-primary">Edit</button></a>
        <form class="delete-form" method="post" action="/excuses/<%= @excuse.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="delete">
          <input class="button" type="submit" value="Delete">
        </form>
      <% end %>
    <% end %>
  </article>
</section>
